.scrollbar-dark {
  /* Add custom scrollbar for webkit browsers */
  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark background for scrollbar track */
  }

  &::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.11, rgb(60, 61, 65)),
      color-stop(0.72, rgb(130, 131, 142)),
      color-stop(0.86, rgb(60, 61, 65))
    );
    border-radius: 8px;
    border: 3px solid #1a1a1a; /* To give some padding to thumb with track */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.11, rgb(60, 61, 65)),
      color-stop(0.72, #b2b3bd),
      color-stop(0.86, rgb(60, 61, 65))
    ); /* Hover color */
  }

  /* Adding arrow buttons */
  &::-webkit-scrollbar-button {
    background: url("chevron-down.png") no-repeat center center;
    background-size: 20px;
    background-color: #1a1a1a;
    width: 20px;
    height: 20px;
  }

  &::-webkit-scrollbar-button:single-button:vertical:decrement {
    background: url("chevron-up.png") no-repeat center center;
    background-size: 20px;
    background-color: #1a1a1a;
    width: 20px;
    height: 20px;
  }
}
